@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,900;1,9..40,900&display=swap');

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #fff;
    /*background-color: #50AB50;*/
    background-image: url(images/ufo_background.jpg);
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #fff;
}

.dm-sans-title {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto; /* Optional: Advanced font feature */
    font-weight: 800; /* Bold weight for titles */
    font-style: normal; /* Default: can be 'italic' if needed */
}

.comfortaa-text {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #8AAB85;
    top: 0;
    position: fixed;
    width: 100%;
}
.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 50px;
}
.navbar ul li {
    font-size: 1rem;
}

h2 {
    color: #D0D0D0;
    font-size: 50px;
    margin-top: 100px;
    text-align: center; /* Align heading to the left */
}

.container {
    display: grid;
    margin: 20px;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 5px;
    font-size: 14px;
    color: white;
    text-align: left; /* Align labels to the left */
}

/* Input fields */
input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #8AAB85;
    color: #000; 
    text-align: left; /* Align input text to the left */
    flex-direction: column;
}

input::placeholder {
    color: #555;
}

/* Buttons */
button {
    background-color: #9DC19D;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    text-align: left; /* Align button text to the left */
}

button .hover {
    background-color: #23663c;
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.delete-btn {
    display: block;
    margin: 20px auto;
    background-color: #a94442;
    color: white;
    width: 50%;
    text-align: left; /* Align delete button text */
}

.delete-btn:hover {
    background-color: #d9534f;
}

/* DOB Fields */
.dob-container {
    display: flex;
    justify-content: space-between;
}

.dob-container input {
    flex: 1;
    margin-right: 10px;
    text-align: left; /* Align DOB input text */
}

.dob-container input:last-child {
    margin-right: 0;
}
