body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #fff;
    background-color: #50AB50;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #8AAB85;
}
.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
.navbar ul li {
    font-size: 1rem;
}