body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #fff;
    background-color: #50AB50;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #8AAB85;
}
.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
.navbar ul li {
    font-size: 1rem;
}

.hero {
    text-align: left;
    padding: 50px 20px;
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    float: left;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    float: left;
}
.hero .learn-more {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #9DC19D;
    border: 1px, solid, black;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    float: left;
}
.hero img {
    margin-top: 30px;
    max-width: 100%;
    height: auto;
    margin-right: 0px;
    float: right;
  }
}